.transitions-title {
    font-size: 30px;
    margin-left: 29px;
    margin-top: 15px;
}

button {
    background-color: #e1e1e1;
    border: none;
    cursor: pointer;
    padding: 20px 25px;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 8px;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 900;
    opacity: 0.7;
}

.effects-box {
    display: block;
}

.hvr-grow {

    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition: 0.3s ease;
    }
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-shrink {

    &:hover{
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-pulse {

    &:hover {
        -webkit-animation-name: hvr-pulse;
        animation-name: hvr-pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    @-webkit-keyframes hvr-pulse {
        25% {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
        75% {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }
      }
      @keyframes hvr-pulse {
        25% {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
        75% {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }
      }
}

.hvr-pulse--grow {

    &:hover {
        -webkit-animation-name: hvr-pulse-grow;
        animation-name: hvr-pulse-grow;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    @-webkit-keyframes hvr-pulse-grow {
        to {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
      @keyframes hvr-pulse-grow {
        to {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
}

.hvr-pulse--shrink {

    &:hover {
        -webkit-animation-name: hvr-pulse-shrink;
        animation-name: hvr-pulse-shrink;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    @-webkit-keyframes hvr-pulse-shrink {
        to {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }
      }
      @keyframes hvr-pulse-shrink {
        to {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
        }
      }
}

.hvr-Push {

    &:hover {
        -webkit-animation-name: hvr-push;
        animation-name: hvr-push;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
    display: inline-block;
    vertical-align: middle;
    @-webkit-keyframes hvr-push {
        50% {
          -webkit-transform: scale(0.8);
          transform: scale(0.8);
        }
        100% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      @keyframes hvr-push {
        50% {
          -webkit-transform: scale(0.8);
          transform: scale(0.8);
        }
        100% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pop {

    &:hover {
        -webkit-animation-name: hvr-pop;
        animation-name: hvr-pop;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }
    @-webkit-keyframes hvr-pop {
        50% {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
      @keyframes hvr-pop {
        50% {
          -webkit-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bounce--in {

    &:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce--out {

    &:hover {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    }
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-rotate {

    &:hover {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow--rotate {

    &:hover {
        -webkit-transform: scale(1.1) rotate(4deg);
        transform: scale(1.1) rotate(4deg);
    }
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    &:hover {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-sink {

    &:hover {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bob {

    &:hover {
        -webkit-animation-name: hvr-bob-float, hvr-bob;
        animation-name: hvr-bob-float, hvr-bob;
        -webkit-animation-duration: .3s, 1.5s;
        animation-duration: .3s, 1.5s;
        -webkit-animation-delay: 0s, .3s;
        animation-delay: 0s, .3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
    }
    @-webkit-keyframes hvr-bob {
        0% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
        50% {
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
        }
        100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
      }
      @keyframes hvr-bob {
        0% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
        50% {
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
        }
        100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
      }
      @-webkit-keyframes hvr-bob-float {
        100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
      }
      @keyframes hvr-bob-float {
        100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-hang {
    @-webkit-keyframes hvr-hang {
        0% {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
        50% {
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
        }
        100% {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
      }
      @keyframes hvr-hang {
        0% {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
        50% {
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
        }
        100% {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
      }
      @-webkit-keyframes hvr-hang-sink {
        100% {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
      }
      @keyframes hvr-hang-sink {
        100% {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover {
        -webkit-animation-name: hvr-hang-sink, hvr-hang;
        animation-name: hvr-hang-sink, hvr-hang;
        -webkit-animation-duration: .3s, 1.5s;
        animation-duration: .3s, 1.5s;
        -webkit-animation-delay: 0s, .3s;
        animation-delay: 0s, .3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
      }
}

.hvr-skew {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    &:hover {
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
    }
}

.hvr-skeW--forward {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;

    &:hover {
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
    }
}

.hvr-skeW--backward {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;

    &:hover {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
}

.hvr-wobble--horizontal {
    @-webkit-keyframes hvr-wobble-horizontal {
        16.65% {
          -webkit-transform: translateX(8px);
          transform: translateX(8px);
        }
        33.3% {
          -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
        }
        49.95% {
          -webkit-transform: translateX(4px);
          transform: translateX(4px);
        }
        66.6% {
          -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
        }
        83.25% {
          -webkit-transform: translateX(1px);
          transform: translateX(1px);
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
      @keyframes hvr-wobble-horizontal {
        16.65% {
          -webkit-transform: translateX(8px);
          transform: translateX(8px);
        }
        33.3% {
          -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
        }
        49.95% {
          -webkit-transform: translateX(4px);
          transform: translateX(4px);
        }
        66.6% {
          -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
        }
        83.25% {
          -webkit-transform: translateX(1px);
          transform: translateX(1px);
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover {
        -webkit-animation-name: hvr-wobble-horizontal;
        animation-name: hvr-wobble-horizontal;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
}

.hvr-wobble--vertical {
    @-webkit-keyframes hvr-wobble-vertical {
        16.65% {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
        33.3% {
          -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
        }
        49.95% {
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
        }
        66.6% {
          -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
        }
        83.25% {
          -webkit-transform: translateY(1px);
          transform: translateY(1px);
        }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
      @keyframes hvr-wobble-vertical {
        16.65% {
          -webkit-transform: translateY(8px);
          transform: translateY(8px);
        }
        33.3% {
          -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
        }
        49.95% {
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
        }
        66.6% {
          -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
        }
        83.25% {
          -webkit-transform: translateY(1px);
          transform: translateY(1px);
        }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover {
        -webkit-animation-name: hvr-wobble-vertical;
        animation-name: hvr-wobble-vertical;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
}

.hvr-wobble--right {
    @-webkit-keyframes hvr-wobble-to-bottom-right {
        16.65% {
          -webkit-transform: translate(8px, 8px);
          transform: translate(8px, 8px);
        }
        33.3% {
          -webkit-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
        }
        49.95% {
          -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
        }
        66.6% {
          -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
        }
        83.25% {
          -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
        }
        100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
      @keyframes hvr-wobble-to-bottom-right {
        16.65% {
          -webkit-transform: translate(8px, 8px);
          transform: translate(8px, 8px);
        }
        33.3% {
          -webkit-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
        }
        49.95% {
          -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
        }
        66.6% {
          -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
        }
        83.25% {
          -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
        }
        100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover {
        -webkit-animation-name: hvr-wobble-to-bottom-right;
        animation-name: hvr-wobble-to-bottom-right;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
}

.hvr-wobble-top {
    @-webkit-keyframes hvr-wobble-to-top-right {
        16.65% {
          -webkit-transform: translate(8px, -8px);
          transform: translate(8px, -8px);
        }
        33.3% {
          -webkit-transform: translate(-6px, 6px);
          transform: translate(-6px, 6px);
        }
        49.95% {
          -webkit-transform: translate(4px, -4px);
          transform: translate(4px, -4px);
        }
        66.6% {
          -webkit-transform: translate(-2px, 2px);
          transform: translate(-2px, 2px);
        }
        83.25% {
          -webkit-transform: translate(1px, -1px);
          transform: translate(1px, -1px);
        }
        100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
      @keyframes hvr-wobble-to-top-right {
        16.65% {
          -webkit-transform: translate(8px, -8px);
          transform: translate(8px, -8px);
        }
        33.3% {
          -webkit-transform: translate(-6px, 6px);
          transform: translate(-6px, 6px);
        }
        49.95% {
          -webkit-transform: translate(4px, -4px);
          transform: translate(4px, -4px);
        }
        66.6% {
          -webkit-transform: translate(-2px, 2px);
          transform: translate(-2px, 2px);
        }
        83.25% {
          -webkit-transform: translate(1px, -1px);
          transform: translate(1px, -1px);
        }
        100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover {
        -webkit-animation-name: hvr-wobble-to-top-right;
        animation-name: hvr-wobble-to-top-right;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
}

.hvr-wobble--bottom {
    @-webkit-keyframes hvr-wobble-bottom {
        16.65% {
          -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
        }
        33.3% {
          -webkit-transform: skew(10deg);
          transform: skew(10deg);
        }
        49.95% {
          -webkit-transform: skew(-6deg);
          transform: skew(-6deg);
        }
        66.6% {
          -webkit-transform: skew(4deg);
          transform: skew(4deg);
        }
        83.25% {
          -webkit-transform: skew(-2deg);
          transform: skew(-2deg);
        }
        100% {
          -webkit-transform: skew(0);
          transform: skew(0);
        }
      }
      @keyframes hvr-wobble-bottom {
        16.65% {
          -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
        }
        33.3% {
          -webkit-transform: skew(10deg);
          transform: skew(10deg);
        }
        49.95% {
          -webkit-transform: skew(-6deg);
          transform: skew(-6deg);
        }
        66.6% {
          -webkit-transform: skew(4deg);
          transform: skew(4deg);
        }
        83.25% {
          -webkit-transform: skew(-2deg);
          transform: skew(-2deg);
        }
        100% {
          -webkit-transform: skew(0);
          transform: skew(0);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transform-origin: 100% 0;
      transform-origin: 100% 0;

      &:hover {
        -webkit-animation-name: hvr-wobble-bottom;
        animation-name: hvr-wobble-bottom;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
}

.hvr-wobble--skew {
    @-webkit-keyframes hvr-wobble-skew {
        16.65% {
          -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
        }
        33.3% {
          -webkit-transform: skew(10deg);
          transform: skew(10deg);
        }
        49.95% {
          -webkit-transform: skew(-6deg);
          transform: skew(-6deg);
        }
        66.6% {
          -webkit-transform: skew(4deg);
          transform: skew(4deg);
        }
        83.25% {
          -webkit-transform: skew(-2deg);
          transform: skew(-2deg);
        }
        100% {
          -webkit-transform: skew(0);
          transform: skew(0);
        }
      }
      @keyframes hvr-wobble-skew {
        16.65% {
          -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
        }
        33.3% {
          -webkit-transform: skew(10deg);
          transform: skew(10deg);
        }
        49.95% {
          -webkit-transform: skew(-6deg);
          transform: skew(-6deg);
        }
        66.6% {
          -webkit-transform: skew(4deg);
          transform: skew(4deg);
        }
        83.25% {
          -webkit-transform: skew(-2deg);
          transform: skew(-2deg);
        }
        100% {
          -webkit-transform: skew(0);
          transform: skew(0);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover {
        -webkit-animation-name: hvr-wobble-skew;
        animation-name: hvr-wobble-skew;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
}

.hvr-buzz {
    @-webkit-keyframes hvr-buzz {
        50% {
          -webkit-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
        }
        100% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
        }
      }
      @keyframes hvr-buzz {
        50% {
          -webkit-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
        }
        100% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover {
        -webkit-animation-name: hvr-buzz;
        animation-name: hvr-buzz;
        -webkit-animation-duration: 0.15s;
        animation-duration: 0.15s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
      }
}

.hvr-buzz--out {
    @-webkit-keyframes hvr-buzz-out {
        10% {
          -webkit-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
        }
        20% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
        }
        30% {
          -webkit-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
        }
        40% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
        }
        50% {
          -webkit-transform: translateX(2px) rotate(1deg);
          transform: translateX(2px) rotate(1deg);
        }
        60% {
          -webkit-transform: translateX(-2px) rotate(-1deg);
          transform: translateX(-2px) rotate(-1deg);
        }
        70% {
          -webkit-transform: translateX(2px) rotate(1deg);
          transform: translateX(2px) rotate(1deg);
        }
        80% {
          -webkit-transform: translateX(-2px) rotate(-1deg);
          transform: translateX(-2px) rotate(-1deg);
        }
        90% {
          -webkit-transform: translateX(1px) rotate(0);
          transform: translateX(1px) rotate(0);
        }
        100% {
          -webkit-transform: translateX(-1px) rotate(0);
          transform: translateX(-1px) rotate(0);
        }
      }
      @keyframes hvr-buzz-out {
        10% {
          -webkit-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
        }
        20% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
        }
        30% {
          -webkit-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
        }
        40% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
        }
        50% {
          -webkit-transform: translateX(2px) rotate(1deg);
          transform: translateX(2px) rotate(1deg);
        }
        60% {
          -webkit-transform: translateX(-2px) rotate(-1deg);
          transform: translateX(-2px) rotate(-1deg);
        }
        70% {
          -webkit-transform: translateX(2px) rotate(1deg);
          transform: translateX(2px) rotate(1deg);
        }
        80% {
          -webkit-transform: translateX(-2px) rotate(-1deg);
          transform: translateX(-2px) rotate(-1deg);
        }
        90% {
          -webkit-transform: translateX(1px) rotate(0);
          transform: translateX(1px) rotate(0);
        }
        100% {
          -webkit-transform: translateX(-1px) rotate(0);
          transform: translateX(-1px) rotate(0);
        }
      }
      display: inline-block;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);

      &:hover {
        -webkit-animation-name: hvr-buzz-out;
        animation-name: hvr-buzz-out;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
}

.hvr-forward {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    &:hover {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
}

.hvr-backward {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;

    &:hover {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}